@model EatEvals.Models.Review

@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Identity
@using EatEvals.Areas.Identity.Data

@inject SignInManager<RestaurantReviewUser> SignInManager
@inject UserManager<RestaurantReviewUser> UserManager

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css">
    <title>EatEvals</title>
    <style>
        /* Custom styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #000000ab;
        }

        .container1 {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h4 {
            margin-top: 0;
            color: #333;
        }

        hr {
            margin: 20px 0;
            border-color: #ddd;
        }

        label {
            font-weight: bold;
            color: #666;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }

        .back-link {
            display: block;
            margin-top: 20px;
            text-align: center;
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <div class="container2">
        <div class="container1">
            <div class="editHeaderTitleList">
                <h4>Edit Reviews</h4>
            </div>
            <br />
           
            <hr>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Restaurant" class="control-label"></label>
                    <input asp-for="Restaurant" class="form-control" />
                    <span asp-validation-for="Restaurant" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Food" class="control-label"></label>
                    <input asp-for="Food" class="form-control" />
                    <span asp-validation-for="Food" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <label for="Photo" class="control-label"> Image </label>
                    <br />
                    <img src="@Url.Action("GetImage", new { id = Model.Id })" alt="Image" height="100" />
                    <br />
                    <input type="file" name="Photo" id="Photo" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <a asp-action="Index" class="back-link">Back to List</a>
        </div>
    </div>
    <footer class="border-top eatEvalsFooter text-muted">
        <div class="container">
            <p class="navbar-brand margin0">Kashyap Kalathiya Team - EatEvals</p>
        </div>
    </footer>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
